SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,web

POSTGRES_DB=wiki_db
POSTGRES_USER=wiki_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

GEMINI_API_KEY=your_gemini_api_key_here
